@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

.custom-img {
    background-image: url(../public/bg-music.jpg);
}


.buttons {
    transition: 600ms ease-in-out;
}

.buttons:hover {
    background-color: white;
    color: black;
}

input {
    transition: 600ms ease-in-out;
}

#submitBtn:hover {
    background-color: white;
    color: black;
    outline: none;
}

.inputBox {
    position: relative;
    width: 335px;
}

.inputBox input {
    width: 100%;
    padding: 9px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 0.8em;
    transition: 0.5s;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 7px 7px 7px 14px;
    pointer-events: none;
    font-size: 1em;
    color: rgb(255, 255, 255, 1);
    transition: 0.5s;
}

.inputBox input:not(:placeholder-shown)~span,
.inputBox input:focus~span {
    color: #9abfcf;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: white;
    letter-spacing: 0.2em;
    border-radius: 4px;
    color: #222C34;
    text-transform: uppercase;

}

.inputBox input:focus {
    border: 1px solid white;
}

.selectBox {
    position: relative;
    width: 250px;
    background: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 9px;
    border-radius: 5px;
    outline: none;
}

.selectBox option {
    background-color: rgb(24, 39, 55);
    color: white;
}